<footer>
  <p>Images courtesy of: <a href="http://unsplash.com/" id="footer">Unsplash</a>.</p>
  <p><a href="https://www.eccentrictoad.com" id="footer">Designed and Hosted by Eccentric Toad</a></p>
  <ul>
    <li><a href="https://web.facebook.com/Digital-Alchemy-215749809113486/"><i class="facebook icon"></i></a></li>
    <li><a href="https://za.linkedin.com/in/wayne-bruton-9a82942b"><i class="linkedin icon"></i></a></li>
  </ul>
</footer>
</body>
</body>

</html>